.block.quote {
    border-left: 4px solid red;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    padding: 0 0 24px;
}

.block.quote blockquote {
    margin: 16px;
    padding: 0 0 0 32px;
    text-indent: 0;
}

.block.quote > div:last-child > div {
    font-size: small;
    font-style: italic;
    margin: 0 16px;
    position: relative;
}

.block.quote > div:last-child > div::before {
    bottom: -8px;
    content: "—";
    left: 0;
    position: absolute;
}